.comment-container {
  width: 20%;
}

.comment-tray {
  width: 100%;
  height: 900px;
  overflow: hidden;
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-top: 10px;
}

.post-container {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

img.post-image {
  border-radius: 5px;
  width: 50px;
  margin-top: 2px;
}

.comment {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-content {
  margin-left: 10px;
}

.comment-time {
  font-size: 0.7em;
  color: #666;
}
