@font-face
{
	font-family: "Tex";
	src: url("../fonts/texgyreheros-bold.otf");
	font-weight: bold;
}

@font-face
{
	font-family: "Tex";
	src: url("../fonts/texgyreheros-regular.otf");
}

.container {
  display: flex;
  justify-content: space-evenly;
  top: 20px;
  font-family: "Tex", sans-serif;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}
